extends layout

block content
  h1= title
  p Hi express
  button(id="button_speed", type="button", class="btn btn-danger", onclick = "goFaster()") Press me 
  div(id="faster") Increase the speed
  script.
    let mph = 20;
    let change = 1;
    function goFaster() {
        mph += change;
        change += 1;
        document.getElementById("faster").textContent = `MPH ${mph} with change ${change}`;
      }
      //document.getElementById("button_speed").onclick() = "goFaster()";
  a(href="shoe", target = "_blank") Shoes

